/***************
    COMMON 
 ***************/

 body{
    overflow-x: hidden;
}


/* component star */
.component-star{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}
.component-star::after,
.component-star::before{
    content: '';
    height: 0.25rem;
    background-color: aliceblue;
    width: 20vh;
    border-radius: 0.125rem;
    max-width: 150px;
}
.fa-star{
    padding: 0 2%;
}

h5{
    text-transform: uppercase;
}
button{
    border: 1px solid aliceblue;
    border-radius: 5px;
    padding: 4px 10px;
    margin-bottom: 20px;

}
.download{
    color: aliceblue;
    background-color: transparent;
}

/* FOOTER ICONS */

.component-icons{
    display: flex;
    justify-content: center;

}
.component-icons .icon-cont{
    width: 30px;
    height: 30px;
    border: 1px solid aliceblue;
    border-radius: 50%;
    margin: 5px 8px;
}
.white{
    color: aliceblue;
}