@import'./_Partials/variables.css';
@import'/css/common.css';




/********HEADER******/
.h1{
    color: aliceblue;

}
.background-top-bar{
    background-color: var(--am-main-500);
}
.background-jumbo{
    background-color: #1abc9c;

}
#avatar{
    width: 250px;
    height: 250px;
}
.bar{
    width: 10vw;
    height: 5px;
    background-color: aliceblue;

}
/******** MAIN ********/

/* grid */
.h1 .h2{
    text-transform: uppercase;
    
}



.background-about{
    background-color: #1abc9c;
}

/******FOOTER*******/
footer{
    background-color: #3a546d;
}