@import'./_Partials/variables.css';




/********HEADER******/
.background-top-bar{
    background-color: var(--am-main-500);
}
.background-jumbo{
    background-color: #1abc9c;

}
#avatar{
    width: 250px;
    height: 250px;
}
/******** MAIN ********/

/* grid */
.h1 .h2{
    text-transform: uppercase;
}

.col{
    /*debug */
    background-color: ;
}

.background-about{
    background-color: #1abc9c;
}

/******FOOTER*******/
footer{
    background-color: #3a546d;
}